@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@font-face {
  font-family: Didot;
  font-display: swap;
  src: url("../../fonts/didot_bold.otf") format("opentype");
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../../fonts/Geometria.ttf") format("truetype");
}
