// Кольори
$bg: #fff;
$bgAccent: #f4d6d6;
$text: #000;
$accent: #c93f43;
$accentBg: #e8aaac;

// Шрифти
$font-main: "Geometria", sans-serif;
$font-title: "Didot";
$font-permanent: "Permanent Marker", cursive;
