.academy-wrap .container {
  padding-left: 0;
  margin-bottom: 35px;
  @media (max-width: 1500px) {
    padding-left: 15px;
  }
  @media (max-width: 600px) {
    padding: 0;
    margin-bottom: 23px;
  }
}
.academy {
  @include flex(row, flex-start, center);
  gap: 22px;
  @media (max-width: 1500px) {
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    justify-content: center;
    gap: 13px;
  }
  &-carousel {
    position: relative;
    width: 1066px;
    @media (max-width: 1600px) {
      width: 866px;
    }
    @media (max-width: 991px) {
      width: 580px;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &-chev-left {
    position: absolute;
    top: 50%;
    left: 488px;
    transform: translateY(-50%);
    @include flex(row, center, center);
    width: 45px;
    height: 48px;
    border-radius: 5px 0px 0px 5px;
    background: #fffcfc;
    z-index: 3;
    @media (max-width: 1600px) {
      left: 388px;
    }
    @media (max-width: 991px) {
      left: 255px;
      width: 35px;
      height: 38px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &-chev-right {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    @include flex(row, center, center);
    width: 45px;
    height: 48px;
    border-radius: 5px 0px 0px 5px;
    background: $bgAccent;
    z-index: 3;
    @media (max-width: 991px) {
      width: 35px;
      height: 38px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &-pagination {
    display: none;
    @media (max-width: 600px) {
      @include flex(row, center, center);
      gap: 5px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 11px;
      z-index: 1;
    }
  }
  &-swiper {
    position: relative;
    left: 0;
    width: 1066px;
    @media (max-width: 1600px) {
      width: 866px;
    }
    @media (max-width: 991px) {
      width: 580px;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 533px;
      height: 499px;
      background-color: rgba(244, 214, 214, 0.7);
      z-index: 2;
      @media (max-width: 1600px) {
        width: 433px;
        height: 399px;
      }
      @media (max-width: 991px) {
        width: 290px;
        height: 253px;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  &-swiper-slide {
    width: 533px !important;
    height: 499px !important;
    object-fit: cover;
    @media (max-width: 1600px) {
      width: 433px !important;
      height: 399px !important;
    }
    @media (max-width: 991px) {
      width: 290px !important;
      height: 253px !important;
    }
    @media (max-width: 600px) {
      width: 100% !important;
      height: auto !important;
    }
  }
  &-content {
    @include flex(column, flex-start, flex-start);
    gap: 35px;
    @media (max-width: 991px) {
      @include flex(column, center, center);
      gap: 13px;
      padding: 0 15px;
    }
  }
  &-title {
    @include title;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &-text {
    @include text;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &-btn {
    @include button;
    @media (max-width: 991px) {
      margin: auto;
    }
  }
}
